/* Globel CSS */
:root {
    --primary-color: #F1F0E7;
    --secondary-color: #645242;
    --white-clr: #fff;
    --black-clr: #000;
    --helvatica-font: Helvatica;
    --brownSugar-font: Brown-Sugar;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: Brown-Sugar;
    src: url(../fonts/Brown-Sugar.otf);
}

@font-face {
    font-family: Helvatica;
    src: url(../fonts/HelveticaNeueRoman.otf);
}

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
    color: var(--secondary-color);
    font-family: var(--helvatica-font);
}

a {
    text-decoration: none;
}

.sec-clr {
    color: var(--secondary-color);
}

.fw-400 {
    font-weight: 400;
}

.w-100 {
    width: 100%;
}

.py_section {
    padding: 100px 0px;
}

/* Globel CSS  End*/


/* Header */
nav {
    background-color: var(--primary-color);
}

.navbar-nav a {
    font: 300 28px var(--helvatica-font);
    color: var(--secondary-color);
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}


/* Footer */
footer a,
footer p {
    font: 300 20px/30px var(--helvatica-font);
    color: var(--white-clr);
}

#footer {
    background-color: var(--secondary-color);
    padding-top: 81px;
}

#footer hr {
    margin: 131px 0px 36px 0px;
    opacity: 1;
    border-top: 2px solid #fff;
}

#email-collector {
    border: 1px solid #736E32;
    margin: auto;
}

#email-collector-bottom input,
#email-collector input {
    background: transparent;
    border: 0;
}

#email-collector-bottom input:focus-visible,
#email-collector input:focus-visible {
    outline: none;
}

#email-collector-bottom input:active {
    color: var(--white-clr);
}

#email-collector input::placeholder {
    color: var(--secondary-color);
}

#email-collector-bottom {
    border-bottom: 1px solid #D6A663;
}

button.btn.btn-regular {
    border: 1px solid var(--secondary-color);
    border-radius: 0;
    padding: 20px 32px;
    font-size: 19px;
    color: var(--secondary-color);
}

#hero {
    background: url(../images/hero_bg.png);
    padding: 200px 0 180px 0;
}

.p-below {
    font-size: clamp(20px, 4vw, 26px);
    color: var(--secondary-color);
}

.block h2 {
    display: inline-block;
}

h2 {
    font-size: clamp(40px, 5vw, 141px);
    font-weight: 400;
    font-family: var(--brownSugar-font);
}

.upper-container {
    position: relative;
}

.upper-container .petal2,
.upper-container .petal5 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.block-1,
.block-3,
.block-5,
.block-7 {
    transform: translateY(-500px);
}

.upper-container .petal3 {
    position: absolute;
    top: -300px;
}

header .navbar-nav a {
    font-size: 22px;
    padding: 10px 20px !important;
}

#partners {
    padding: 200px 0;
    text-align: center;
}

#partners h3 {
    font-size: 35px;
    color: var(--secondary-color);
}

#appointment {
    padding: 200px 0;
    text-align: center;
    background-image: url(assets/images/appointment-bg.png);
}

#appointment h2,
#appointment .p-below {
    color: var(--white-clr);
}

.btn-white {
    width: 100%;
    color: var(--white-clr);
    border: 1px solid var(--white-clr);
    font-size: 32px;
    margin-top: 64px;
    border-radius: 0;
}

#subscribe {
    padding: 200px 0;
    text-align: center;
    background-color: #CCC5AB;
    position: relative;
}

#subscribe .subscribe-petal-left {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 1;
}

#subscribe .subscribe-petal-right {
    position: absolute;
    right: 0px;
    bottom: 0;
}


#circle {
    width: 200px;
    height: 400px;
    background-color: var(--white-clr);
    border: 1px solid var(--white-clr);
    border-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
}

/* Appouintment Section */
.appointment-page {
    padding: 200px 0 180px 0;
}

.nav-tabs {
    border: none;
}

a.appointment-nav-container {
    background-color: transparent !important;
    border: 1px solid var(--secondary-color) !important;
    border-radius: 0px !important;
}

.appointment-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 105px;
}

.appointment-tab-inner span {
    font-weight: 300;
    font-size: 18px;
    color: var(--secondary-color);
    cursor: pointer;
}

.services-container {
    margin-top: 48px;
}

.services-container .inner-content p {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-color);
    cursor: pointer;
}

.services-container .inner-content span {
    font-size: 20px;
    font-weight: 300;
    color: var(--secondary-color);
}

.services-container .inner-content p:not(.last) {
    border-bottom: 1px solid var(--secondary-color);
}

.border-b {
    border-bottom: 1px solid var(--secondary-color);
}

.services-right {
    width: 1000px;
}

.services-left {
    height: 450px;
    width: 480px;
}

.services-container button {
    width: 286px;
    height: 80px;
    background: transparent;
    border: 1px solid var(--secondary-color);
    font-size: 22px;
    font-weight: 300;
    color: var(--secondary-color);
}

/* Blog Section */

.blog-wrapper {
    padding: 215px 0px;
    gap: 66px;
}

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 1300px;
    margin: auto;
}

.section-heading p {
    font-size: clamp(33px, 3vw, 22px);
    color: var(--secondary-color);
    font-weight: 300;
}

.blog {
    padding: 35px;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    width: 743px;
}

.book-appointment-section {
    padding: 200px 0px;
}

.blog img,
.blog-img {
    border-radius: 20px;
}

.blog-wrapper .blog h6 {
    font-size: clamp(22px, 4vw, 36px);
    font-weight: 400;
}

.blog-wrapper .blog p {
    font-size: clamp(18px, 3vw, 23px);
    font-weight: 300;
}

.appointment-content {
    width: 1100px;
}

.appointment-content h2 {
    font-size: clamp(80px, 5vw, 40px);
}

.book-appointment-section {
    background-image: url(../images/appointment-bg.png);
    background-position: center;
    position: relative;
}

.book-appointment-section .appointment-left {
    position: absolute;
    left: 0;
    top: 0;
}

.book-appointment-section .appointment-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.appointment-btn {
    font-size: 32px;
    font-weight: 300;
    border: 1px solid var(--white-clr);
    background-color: transparent;
    color: var(--white-clr);
    width: 100%;
    height: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Blog-Details-section */
.blog-details-section {
    padding: 200px 0px;
}

#subscribe {
    position: relative;
}

.subscribe-content-wrapper {
    position: relative;
    z-index: 999;
}

#partners {
    padding: 200px 0;
    text-align: center;
}

#partners h3 {
    font-size: 35px;
    color: var(--secondary-color);
    font-family: Helvatica
}

/*About Us*/

.abt-heading {
    font-size: 104px;
    font-family: Brown-Sugar;
    color: var(--secondary-color);
}

#abt-third {
    padding: 150px 0;
    text-align: center;
}

#passion h2 {
    font-size: 93px;
    text-align: center;
    padding: 120px 0;
}

/* services page css Start */

.services_cards img {
    border-radius: 50.88px;
}

.card_services:last-child {
    grid-column: span 2;
}

.card_content {
    position: relative;
}

.card_title {
    position: absolute;
    top: 20px;
    left: 50px;
    /* font-family: Helvetica Neue; */
    font-size: 57.23px;
    font-weight: 200;
    line-height: 68.68px;
    letter-spacing: 1.144687533378601px;
    text-align: left;
    color: #FFFFFF;
}

/* slider CSS */

.products .slick-slider {
    z-index: 9;
}
.slick-slide img {
    width: 100%;
}
.products .sin-testiImage img {
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    -webkit-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    height: 730px;
    object-fit: contain;
}

.products .sin-testiImage.slick-current img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.products .products-slider {
    position: relative;
}

.products-text-slider .icon-angle-left,
.products-text-slider .icon-angle-right {
    position: absolute;
    bottom: 40%;
    width: 70px;
    cursor: pointer;
    z-index: 9;
}

.products-text-slider .icon-angle-right {
    right: 5%;
}

.products-text-slider .icon-angle-left {
    left: 5%;
}

.products .products-text-slider .icon-angle-left img,
.products .products-text-slider .icon-angle-right img {
    width: 70px;
}

.products .products-slider .icon-angle-left:hover,
.products .products-slider .icon-angle-right:hover {
    cursor: pointer;
}

/* .products .products-slider .slick-list {
    overflow: visible;
} */

 .products .products-slider .icon-angle-left {
    left: 20px;
    z-index: 999;
}

.products .products-slider .icon-angle-right {
    right: 20px;
}

.products .products-text-slider h2 {
    color: #483A43;
    font-family: MyriadPro-Bold;
}

.products .products-text-slider {
    margin: auto;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 9;
}
/*
.slider_products .products-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider_products .products-text-slider {
    text-align: center;
}

/* Responsive adjustments */
/* @media (max-width: 768px) {
    .slider_products .products-slider img {
        height: auto;
    } */

    /* .slider_products .grid-x {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider_products .cell {
        width: 100%;
    }
} */

.products .sin-testiText {
    outline: none;
    text-align: center;
}

.products .sin-testiText p {
    margin-top: 22px;
    color: #483A43;
    line-height: 24px;
    font-family: MyriadPro-Regular;
    max-width: 700px;
    margin: auto;
}

.products .grid-padding-x>.cell:nth-child(2) {
    position: relative;
}

.products .grid-padding-x>.cell:nth-child(2) .quotes {
    position: absolute;
    width: 100%;
}

.product_item {
    background-color: #CCC5AB4F;
    border-radius: 49.76px;
    padding: 24px 0px 0px 31px;
    overflow: hidden;
    margin-top: 20px;
}

.product_item p {
    font-family: var(--helvatica-font);
    font-size: 33.54px;
    font-weight: 200;
    line-height: 44.42px;
    text-align: left;
    color: var(--secondary-color);
}

.product_item img {
    width: 80%;
    height: 290px;
}

.products_section h3,
.offer_section h3 {
    font-family: var(--brownSugar-font);
    font-size: 68.19px;
    font-weight: 400;
    line-height: 78.19px;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 70px;
}

.offer_section h3 {
    margin-bottom: 40px;
}

.single_cards .img img {
    border-radius: 35.52px;
}

.single_cards .img img,
.card_main img {
    width: 100%;
    padding-bottom: 25px;
}

.single_cards .other_card {
    border: 1px solid #6452424F;
    border-radius: 53.28px;
    padding: 40px;
}

.single_cards .dic_single_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single_cards .dic_single_card .btn-regular {
    width: 50px;
    height: 50px;
    background: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_cards .dic_single_card p {
    margin: 0;
    font-family: var(--helvatica-font);
    font-size: 19.98px;
    font-weight: 400;
    line-height: 28.97px;
    color: var(--secondary-color);
    overflow: hidden;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    width: 87%;
}

.single_cards .other_card .card_info h4 {
    font-family: var(--helvatica-font);
    font-size: 39.4px;
    font-weight: 200;
    line-height: 55.5px;
}

.single_cards .other_card .card_info p.price {
    font-family: var(--helvatica-font);
    font-size: 28.86px;
    font-weight: 300;
    line-height: 36.07px;
    margin-bottom: 5px;
}

.appointment-tabs {
    justify-content: space-between;
}
#partners .slick-slide img {
    max-width: 90%;
    margin: auto;
}

/* services page css End */
/* Media Queries */

@media(max-width: 1200px) {

    .services-right,
    .services-left {
        width: 100%;
    }
}


@media (max-width: 768px) {

    .subscribe-petal-left,
    .subscribe-petal-right,
    .appointment-right,
    .appointment-left {
        display: none;
    }

    .subscribe-email {
        width: auto;
    }

    .blog {
        width: 100%;
    }
}

@media(max-width:450px) {
    .services-container button {
        width: 200px;
    }
}
